
.clock-panel {
    margin-top: 6px;
    margin-bottom: 3px;
}

.clock-year {
    font-size: 0.8rem;
}

.clock-day {
    font-size: 1.2rem;
}

.clock-time {
    font-size: 1.8rem;
}

.cal-day {
    font-size: 1.2rem;
}

.cal-icon {
    width: 24px;
    height: 24px;
}

.sidebar {
    
}

.mainbox {
    
}

.kon-nav-button {
    font-size: 1.5rem;
    font-weight: bold;
}

.recipe-id-box {
    font-size: 0.6rem;
    color: #666;
}

.recipe-box h1 {
    font-size: 2.0rem;
}

.recipe-box h2 {
    font-size: 1.5rem;
}
