/******* layout *******/

.top-container {
    margin-top: 42px;
}

.sidebar {
    position: sticky;
    top: 48px;
    z-index: 1020;
}

.mainbox {
    
}

.col-1-over-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.285714%;
    flex: 0 0 14.285714%;
    max-width: 14.285714%;
}

/******* feather icons *******/

.feather {
    vertical-align: middle;
}

/******* error alert *******/

/* We should assign a unique class or ID to the alert box. However,
 * elm-bootstrap-5.2.0 doesn't allow to add custom attributes to a
 * dismissable alert box. So we use existing selectors to specify the
 * element.
 */
body > .alert-danger {
    position: fixed;
    top: 42px;
    right: 0;
}

/******* navbar *******/

.navbar {
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
}

/******* clock *******/

.clock-panel {
    margin-bottom: 3px;
}

.clock-year {
    font-size: 0.8rem;
}

.clock-day {
    font-size: 1.2rem;
}

.clock-time {
    font-size: 1.8rem;
}

/******* day *******/

.day-week {}

.day-sat {
    color: #1328c7;
}

.day-sun {
    color: #c60c26;
}

/******* calendar (common and list view) *******/

.cal-day-row {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dee2e6;
}

.cal-day-row-even {
    background-color: rgba(0, 0, 0, 0.05);
}

.cal-col-entry-head {
    padding-left: 0;
    padding-right: 0;
}

.cal-col-meal-plan {
    padding-left: 8px;
    padding-right: 0;
}

.cal-row-month-anchor {
    background-color: #baf0af;
}

.cal-col-month-anchor {
    font-size: 1.05rem;
    font-weight: bold;
    padding: 5px 10px;
}

.cal-col-load-more-button {
    padding-left: 0;
    padding-right: 0;
}

.cal-day {
    font-size: 1.0rem;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    border-radius: 4px;
}

.cal-today .day-sat {
    color: white;
}

.cal-today .day-sun {
    color: white;
}

.cal-phase {
    padding: 4px 10px;
    border-radius: 4px;
    margin-bottom: 6px;
    border: 1px solid #acadb2;
}

.cal-phase-lunch {
    background-color: #fcf1bd;
}

.cal-phase-dinner {
    background-color: #fdd7f6;
}

.cal-icon {
    width: 24px;
    height: 24px;
}

.cal-meal-plan-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cal-meal-plan-item-meal {
    background-image: url('/static/icons/foods/fork.svg');
    background-position: left 0px top 3px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    padding-left: 20px;
}

/******* calendar (table view) *******/

.row-caltable {
    margin-left: -2px;
    margin-right: -2px;
}

.col-caltable {
    padding-left: 2px;
    padding-right: 2px;
}

.col-caltable-day {
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    background-color: white;
}

.col-caltable .cal-phase {
    padding: 4px;
}

.col-caltable .cal-meal-plan-item-meal {
    background-image: none;
    padding-left: 0;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
}

.caltable-wday-head {
    font-size: 0.85rem;
    position: sticky;
    top: 40px;
    z-index: 1020;
}

.cal-month-even {
    background-color: rgba(0, 0, 0, 0.05);
}

/******* sidebar nav *******/

.kon-nav-button {
    font-size: 1.5rem;
    font-weight: bold;
}

/******* recipe page *******/

.recipe-id-box {
    font-size: 0.6rem;
    color: #666;
}

.recipe-box {
    overflow: hidden;
}

.recipe-box h1 {
    font-size: 2.0rem;
}

.recipe-box h2 {
    font-size: 1.5rem;
}

.recipe-ref {
    overflow-wrap: break-word;
}
